<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291796496776-uaq8hmmvs1sconab08ou3h02vefbi01k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291796496776-uaq8hmmvs1sconab08ou3h02vefbi01k</string>
	<key>API_KEY</key>
	<string>AIzaSyAL6PtFK_X-YFTc2JxOXF-e65aA83-KMUA</string>
	<key>GCM_SENDER_ID</key>
	<string>291796496776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JLCS.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-309b1</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-309b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291796496776:ios:414a441b9fb2754e574a3d</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-309b1.firebaseio.com</string>
</dict>
</plist>